@media (min-width: 0) {
  .col-xs-1 {
    width: 8.33333%;
    display: inline-block;
  }

  .col-xs-2 {
    width: 16.66667%;
    display: inline-block;
  }

  .col-xs-3 {
    width: 25%;
    display: inline-block;
  }

  .col-xs-4 {
    width: 33.33333%;
    display: inline-block;
  }

  .col-xs-5 {
    width: 41.66667%;
    display: inline-block;
  }

  .col-xs-6 {
    width: 50%;
    display: inline-block;
  }

  .col-xs-7 {
    width: 58.33333%;
    display: inline-block;
  }

  .col-xs-8 {
    width: 66.66667%;
    display: inline-block;
  }

  .col-xs-9 {
    width: 75%;
    display: inline-block;
  }

  .col-xs-10 {
    width: 83.33333%;
    display: inline-block;
  }

  .col-xs-11 {
    width: 91.66667%;
    display: inline-block;
  }

  .col-xs-12 {
    width: 100%;
    display: inline-block;
  }
}
@media (min-width: 768px) {
  .col-sm-1 {
    width: 8.33333%;
    display: inline-block;
  }

  .col-sm-2 {
    width: 16.66667%;
    display: inline-block;
  }

  .col-sm-3 {
    width: 25%;
    display: inline-block;
  }

  .col-sm-4 {
    width: 33.33333%;
    display: inline-block;
  }

  .col-sm-5 {
    width: 41.66667%;
    display: inline-block;
  }

  .col-sm-6 {
    width: 50%;
    display: inline-block;
  }

  .col-sm-7 {
    width: 58.33333%;
    display: inline-block;
  }

  .col-sm-8 {
    width: 66.66667%;
    display: inline-block;
  }

  .col-sm-9 {
    width: 75%;
    display: inline-block;
  }

  .col-sm-10 {
    width: 83.33333%;
    display: inline-block;
  }

  .col-sm-11 {
    width: 91.66667%;
    display: inline-block;
  }

  .col-sm-12 {
    width: 100%;
    display: inline-block;
  }
}
@media (min-width: 992px) {
  .col-md-1 {
    width: 8.33333%;
    display: inline-block;
  }

  .col-md-2 {
    width: 16.66667%;
    display: inline-block;
  }

  .col-md-3 {
    width: 25%;
    display: inline-block;
  }

  .col-md-4 {
    width: 33.33333%;
    display: inline-block;
  }

  .col-md-5 {
    width: 41.66667%;
    display: inline-block;
  }

  .col-md-6 {
    width: 50%;
    display: inline-block;
  }

  .col-md-7 {
    width: 58.33333%;
    display: inline-block;
  }

  .col-md-8 {
    width: 66.66667%;
    display: inline-block;
  }

  .col-md-9 {
    width: 75%;
    display: inline-block;
  }

  .col-md-10 {
    width: 83.33333%;
    display: inline-block;
  }

  .col-md-11 {
    width: 91.66667%;
    display: inline-block;
  }

  .col-md-12 {
    width: 100%;
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .col-lg-1 {
    width: 8.33333%;
    display: inline-block;
  }

  .col-lg-2 {
    width: 16.66667%;
    display: inline-block;
  }

  .col-lg-3 {
    width: 25%;
    display: inline-block;
  }

  .col-lg-4 {
    width: 33.33333%;
    display: inline-block;
  }

  .col-lg-5 {
    width: 41.66667%;
    display: inline-block;
  }

  .col-lg-6 {
    width: 50%;
    display: inline-block;
  }

  .col-lg-7 {
    width: 58.33333%;
    display: inline-block;
  }

  .col-lg-8 {
    width: 66.66667%;
    display: inline-block;
  }

  .col-lg-9 {
    width: 75%;
    display: inline-block;
  }

  .col-lg-10 {
    width: 83.33333%;
    display: inline-block;
  }

  .col-lg-11 {
    width: 91.66667%;
    display: inline-block;
  }

  .col-lg-12 {
    width: 100%;
    display: inline-block;
  }
}
/*Colores*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  color: #414549;
  font-family: "Roboto", sans-serif;
}

.title {
  margin: 20px auto;
  text-align: center;
}
@media (max-width: 768px) {
  .title {
    display: none;
  }
}

.row .nav-menu {
  position: fixed;
  width: 100%;
  background: white;
  height: 15vh;
  z-index: 10;
}
@media (max-width: 768px) {
  .row .nav-menu {
    position: fixed;
  }
}

.mobile {
  display: none;
}
@media (max-width: 768px) {
  .mobile {
    display: block;
    position: fixed;
    height: 10vh;
    background-color: white;
    width: 100%;
  }
  .mobile #gooM {
    display: block;
    position: fixed;
    width: 30%;
    margin: 20px 15%;
  }
  .mobile #lupM {
    position: relative;
    top: 2rem;
  }
}

#goo {
  display: none;
}
@media (max-width: 768px) {
  #goo {
    display: none;
  }
}

#lup {
  display: none;
}
@media (max-width: 768px) {
  #lup {
    display: none;
  }
}

.menu-rel {
  position: relative;
  top: -2rem;
}

.name-rel {
  position: relative;
  top: -0.8rem;
}

.search-rel {
  position: relative;
  top: -2rem;
}

nav.menu {
  margin: auto;
  text-align: center;
}
@media (max-width: 768px) {
  nav.menu ul {
    display: none;
  }
}
nav.menu ul li {
  display: inline-block;
  text-transform: uppercase;
  margin: 17px;
  font-family: "Roboto", sans-serif;
}

div.portada {
  margin: auto;
  text-align: center;
}
div.portada img {
  width: 95%;
  height: 90vh;
  margin-top: 7rem;
}
@media (max-width: 768px) {
  div.portada img {
    width: 100%;
    height: 35vh;
  }
}

.top {
  top: 0;
}

section h2 {
  font-size: 40px;
  margin: 20px 100px;
  font-weight: 900;
}
@media (max-width: 768px) {
  section h2 {
    font-size: 18px;
    margin: 10px;
    font-weight: 800;
  }
}
section p.prim {
  margin: 20px 100px;
  font-size: 20px;
  font-weight: 900;
}
@media (max-width: 768px) {
  section p.prim {
    font-size: 18px;
    margin: 10px;
    font-weight: 800;
  }
}
section p.sec {
  margin: 20px 100px;
  font-size: 17px;
}
@media (max-width: 768px) {
  section p.sec {
    font-size: 16px;
    margin: 10px;
    font-weight: 400;
  }
}
section p.ter {
  margin: 20px 100px;
}
@media (max-width: 768px) {
  section p.ter {
    font-size: 16px;
    margin: 10px;
    font-weight: 400;
  }
}

div.blue {
  height: 0.5vh;
  background-color: #4285f4;
  margin: auto;
}

div.sup {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}
div.sup span:nth-child(1) {
  font-size: 25px;
}
div.sup span:nth-child(2) {
  text-transform: uppercase;
  color: #4285f4;
}

.row {
  text-align: center;
}

div.panel h4 {
  font-size: 25px;
  margin: 20px 100px;
  font-family: "Roboto";
  font-weight: 400;
}
div.panel p.fecha {
  font-size: 20px;
  margin: 20px 100px;
  font-family: "monospace";
  font-weight: 400;
}
div.panel p {
  font-size: 16px;
  margin: 20px 100px;
  font-family: "Roboto";
  font-weight: 400;
}
div.panel div.image img {
  width: 100%;
  margin: 20px 100px;
}
div.panel div.skyblue {
  background-color: #F8F8FA;
  width: 69%;
  margin: auto;
  position: relative;
}
div.panel div.skyblue p {
  margin: 20px;
  text-align: left;
}
div.panel div.skyblue img {
  position: absolute;
  top: 2rem;
  right: 3px;
}

.blue {
  color: #4285f4;
}

.lienzos, div.lienzo img {
  width: 80%;
  margin: 20px 100px;
}

div.lienzo h4 {
  font-size: 20px;
  margin: 20px 100px;
  font-family: "Roboto";
  font-weight: 400;
}
div.lienzo p {
  font-size: 15px;
  margin: 20px 100px;
  font-family: "Roboto";
  font-weight: 400;
}

div.lienzo2 h4 {
  font-size: 23px;
  margin: 20px 100px;
  font-family: "Roboto";
  font-weight: 400;
  margin: 20px 30px;
}
div.lienzo2 img {
  margin: 20px 30px;
}

div.medio {
  position: relative;
  top: -16rem;
}

div.lienzo2 {
  position: relative;
  top: -15rem;
}
div.lienzo2 span.tip1 {
  position: relative;
  top: -3.5rem;
}
div.lienzo2 span.tip2 {
  position: relative;
  top: -2rem;
  right: 6.5rem;
}

div.descrip p {
  font-size: 18px;
  margin: 20px 100px;
  font-family: "Roboto";
  font-weight: 400;
}

div.carrusel {
  margin: 20px 50px;
}

div.subcollec {
  width: 100%;
  height: 40vh;
  overflow: hidden;
}

div.imagen img {
  float: left;
  margin: 15px;
  width: 30%;
}

.design, div.foot div.design, div.foot div.discover, div.foot div.connect {
  width: 30%;
}
.design h4, div.foot div.design h4, div.foot div.discover h4, div.foot div.connect h4 {
  margin-bottom: 15px;
}
.design p, div.foot div.design p, div.foot div.discover p, div.foot div.connect p {
  font-size: 15px;
}

div.foot {
  display: flex;
  justify-content: space-around;
  margin: 20px 100px;
}
div.foot div.connect div.conex {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

div.iconos {
  display: flex;
  justify-content: space-between;
  margin: 100px 100px;
}

/*# sourceMappingURL=style.css.map */
