@import "grid";
@import "variables";

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  list-style: none;
  color:$gris-text;
  font-family: $roboto;
}

.title{
  margin:20px auto;
  text-align: center;
  @media (max-width:768px){
    display:none;
  }
}

.row .nav-menu{
  position: fixed;
  width: 100%;
  background: white;
  height: 15vh;
  z-index:10;
  @media (max-width:768px){
    position: fixed;
  }
}

.mobile{
  display:none;
  @media (max-width:768px){
    display:block;
    position:fixed;
    height: 10vh;
    background-color: white;
    width:100%;
    #gooM{
      display:block;
      position:fixed;
      width:30%;
      margin: 20px 15%;
    }
    #lupM{
      position: relative;
      top: 2rem;
    }
  }
}

#goo{
  display:none;
  @media (max-width:768px){
    display:none;
  }
}

#lup{
 display:none;
 @media (max-width:768px){
   display:none;
 }
}

.menu-rel{
  position:relative;
  top:-2rem;

}

.name-rel{
  position:relative;
  top:-0.8rem;

}

.search-rel{
  position: relative;
  top: -2rem;

}

nav.menu{
    margin:auto;
    text-align: center;
    ul{
      @media (max-width:768px){
        display:none;
      }
      li{
        display:inline-block;
        text-transform: uppercase;
        margin:17px;
        font-family: $roboto;
      }
    }
  }

div.portada{
  margin: auto;
  text-align: center;
  img{
    width:95%;
    height: 90vh;
    margin-top: 7rem;
    @media (max-width:768px){
      width: 100%;
      height: 35vh;
    }
  }

}

.top{
  top:0;
}

@mixin mobile($fuente,$marg,$negro){
  font-size: $fuente;
  margin:$marg;
  font-weight: $negro;
}

section{
  h2{
    font-size: $letra*4;
    margin:$letra*2 $letra*10;
    font-weight: $bold;
    @media (max-width:768px){
    @include mobile(18px, 10px, 800);
    }
  }
  p.prim{
    margin:$letra*2 $letra*10;
    font-size: $letra*2;
    font-weight: $bold;
    @media (max-width:768px){
    @include mobile(18px, 10px, 800);
    }
  }
  p.sec{
    margin:$letra*2 $letra*10;
    font-size: $letra*1.7;
    @media (max-width:768px){
    @include mobile(16px, 10px, 400);
    }
  }
  p.ter{
    margin:$letra*2 $letra*10;
    @media (max-width:768px){
    @include mobile(16px, 10px, 400);
    }
  }
}

div.blue{
  height: 0.5vh;
  background-color: $azul;
  margin:auto;
}

div.sup{
  display:flex;
  justify-content: space-between;
  margin:20px auto;
  span:nth-child(1){
    font-size: $letra*2.5;
  }
  span:nth-child(2){
    text-transform: uppercase;
    color:$azul;
  }
}

.row{
  text-align: center;
}

@mixin fijo($font,$num,$weight:400){
  font-size: $letra*$num;
  margin:$letra*2 $letra*10;
  font-family: $font;
  font-weight: $weight;
}

div.panel{
  h4{
    @include fijo("Roboto",2.5);
  }
  p.fecha{
    @include fijo("monospace",2);
  }
  p{
    @include fijo("Roboto",1.6);
  }
  div.image{

    img{
      width:100%;
      margin:$letra*2 $letra*10;
    }
  }
  div.skyblue{
    background-color: $grayClaro;
    width: 69%;
    margin: auto;
    position:relative;
    p{
      margin:$letra*2;
      text-align: left;
    }
    img{
      position: absolute;
      top: 2rem;
      right: 3px;
    }
  }
}

.blue{
  color:$azul;
}

.lienzos{
  width:80%;
  margin:20px 100px;
}

div.lienzo{
  img{
    @extend .lienzos;
  }
  h4{
    @include fijo("Roboto",2);
  }
  p{
    @include fijo("Roboto",1.5);
  }
}

div.lienzo2{
  h4{
    @include fijo("Roboto",2.3);
    margin:20px 30px;

  }
  img{
    margin:20px 30px;
  }
}

div.medio{
  position: relative;
  top: -16rem;
}

div.lienzo2{
  position: relative;
  top: -15rem;
  span.tip1{
    position: relative;
    top: -3.5rem;
  }
  span.tip2{
    position: relative;
    top: -2rem;
    right: 6.5rem;
  }
}

div.descrip{
  p{
    @include fijo("Roboto",1.8);
  }
}

div.carrusel{
  margin:20px 50px;
}

div.subcollec{
  width:100%;
  height: 40vh;
  overflow: hidden;
}

div.imagen{
  img{
    float:left;
    margin:15px;
    width:30%;
  }
}

.design{
  width:30%;
  h4{
    margin-bottom: $letra*1.5;
  }
  p{
    font-size: $letra*1.5;
  }
}

div.foot{
  display:flex;
  justify-content: space-around;
  margin: 20px 100px;
  div.design{
    @extend .design;
  }
  div.discover{
    @extend .design;
  }
  div.connect{
    @extend .design;
    div.conex{
      display:flex;
      justify-content: space-between;
      width:50%;
    }
  }
}

div.iconos{
  display:flex;
  justify-content: space-between;
  margin: 100px 100px;
}
